@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Heebo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Heebo', sans-serif;
    /* color: white; */
}

/* html {
  background: url("/photos/Black-Folds.jpg") no-repeat center center fixed;
  background-size: cover;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    /* Need to to apply background image */
    background: url("/photos/Black-Folds.jpg") no-repeat center center fixed;
    background-size: cover;
    animation: fade-in 1.5s ease-out both;
    color: white;
}

.name {
  margin-top: 350px;
  font-size: 85px;
}

h5 {
  font-size: 25px;
  padding-left: 95px;
  margin-top: -30px;
  
}

.swe, .musician, .dogs {
  text-decoration: none;
}

.swe:hover {
  color: lightseagreen;
  transition: 1s;
}

.musician:hover {
  color: yellow;
  transition: 1s;
}

.dogs:hover {
  color: magenta;
  transition: 1s;
}

.j:hover {
  color: #10451d;
  transition: 0.2s;
}

.e:hover {
  color: #155d27;
  transition: 0.2s;
}

.r:hover {
  color: #1a7431;
  transition: 0.2s;
}

.ee:hover {
  color: #208b3a;
  transition: 0.2s;
}

.m:hover {
  color: #25a244;
  transition: 0.2s;
}

.i:hover {
  color: #2dc653;
  transition: 0.2s;
}

.a:hover {
  color: #54d474;
  transition: 0.2s;
}

.h:hover {
  color: #76df90;
  transition: 0.2s;
}

.b:hover {
  color: #7fc992;
  transition: 0.2s;
}

.rr:hover {
  color: #7dc790;
  transition: 0.2s;
}

.o:hover {
  color: #92e6a7;
  transition: 0.2s;
}

.oo:hover {
  color: #b7efc5;
  transition: 0.2s;
}

.mm:hover {
  color: #c3eece;
  transition: 0.2s;
}


.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url("photos/Black-Folds.jpg") black;
    color: white;
    /* When links are cliked there is a small hiccup. Need to figure out how to fix that */
    list-style: none;
    padding-top: 4rem;
    font-size: 25px;
    
}

.showMenu {
    transform: translateY(0);
}

#links {
    color: white;
    text-decoration: none;
}


#social-icons {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

footer {
    margin-top: auto;
    text-align: right;
}



@keyframes fade-in {
  from {
      background-color: black;
      opacity: 0;
  }

  to {
      background: url("/photos/Black-Folds.jpg") no-repeat center center fixed;
      opacity: 1;
      background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
    body {
      width: 768px;
    }

    .bio {
      width: 400px;
      padding: 10px;
      /* overflow-wrap: break-word; */
    }

    footer {
      max-width: 768px;
    }
}

@media only screen and (max-width:400px) {
    body {
      max-width: 350px;
    }

    .bio {
      max-width: 350px;
      padding: 10px;
    }

    footer {
      max-width: 375px;
    }
}